<div class="login-box">
    <div>
        <h2>Login</h2>
        <br>
        <form class="user-form" id="login-form">
            <div class="form-inputs">
                <label for="email-input">Email:</label>
                <br>
                <input class="form-input" type="text" id="email-input" />
            </div>
            <br>
            <div class="form-inputs">
                <label for="pass-input">Password:</label>
                <br>
                <input class="form-input" type="text" id="pass-input" />
            </div>
            <br>
            <div class="form-inputs">
                <button class="btn" type="submit" id="login">Login</button>
            </div>
        </form>
        <br>
        <p><a href="/signup">Create an account here!</a></p>
    </div>
</div>

<script src="/js/userLogin.js"></script>