<div class="create-post-container">
    <div>
        <h2>What do you want to talk about?</h2>
            <form class="create-post-form" id="create-post-form">
                <div class="form-inputs">
                    <label for="title-input">Title: </label>
                    <input class="form-input" type="text" id="title-input" />
                </div>
                 <div class="form-inputs">
                    <label for="content-input">Content: </label>
                    <textarea class="form-input" type="text" id="content-input"></textarea>
                </div>
                <div class="form-inputs">
                    <button class="btn" type="submit" id="create">Blog it!</button>
                </div>
            </form>
    </div>
</div>

<script src="/js/newPost.js"></script>