<div class="signup-box">
    <div>
        <h2>Signup</h2>
        <form class="user-form" id="signup-form">
             <div class="form-inputs">
                <label for="name-input">Email:</label>
                <input class="form-input" type="text" id="name-input" />
            </div>
            <div class="form-inputs">
                <label for="email-input">Email:</label>
                <input class="form-input" type="text" id="email-input" />
            </div>
            <div class="form-inputs">
                <label for="pass-input">Password:</label>
                <input class="form-input" type="text" id="pass-input" />
            </div>
        </form>
        <p><a href="/sign-up">Create an account here!</a></p>
    </div>
</div>