<div class="signup-box">
    <div>
        <h2>Signup</h2>
        <br>
        <form class="user-form" id="signup-form">
             <div class="form-inputs">
                <label for="name-input">Name:</label>
                <br>
                <input class="form-input" type="text" id="name-input" />
            </div>
            <br>
            <div class="form-inputs">
                <label for="email-input">Email:</label>
                <br>
                <input class="form-input" type="text" id="email-input" />
            </div>
            <br>
            <div class="form-inputs">
                <label for="pass-input">Password:</label>
                <br>
                <input class="form-input" type="text" id="pass-input" />
            </div>
        </form>
        <br>
        <p>Already have an account? Click <a href="/login">here.</a></p>
    </div>
</div>