* {
    margin: 0;
    padding: 0;
}


header {
    display: block;
    padding-left: 75px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 10px;
    background-color: cadetblue;
}

h1 {
    margin-bottom: 30px;
}

ul {
    list-style: none;
    display: inline;
}

li {
    display: inline;
    padding-left: 30px;
}

main {
    padding: 75px;
}

a {
    color: #02577a;
}

a:hover {
    color: #02a9f7;
}

button {
    padding: 5px;
}

.navbar {
    text-align: right;
}

.post-container {
    border: 5px solid #01303f;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-action {
    border: 3px solid black;
    width: fit-content;
    padding: 5px;
}

.title {
    background-color: cadetblue;
    padding: 10px;
}

.post-body {
    padding: 10px;
    border: 2px solid #01303f;
}

.user-form {
    padding-bottom: 5px;
}

